# Ignore dependencies, which can be reinstalled via forge install
lib/

# Ignore build artifacts
cache/
out/

# Ignore development broadcast logs
broadcast/

# Docs
docs/

# Ignore env vars
.env

# Ignore Forge's fuzzing coverage files
.forge-coverage/

# Ignore Goland IDE files
.idea/